{% extends 'base.html' %}
{% load static %}

{% block content %}
    
<div class="section">
    <div class="container" >
        <div class="row">
            {% if products %}
            {% for product in products %}
            <!-- Product -->
            <div class="col-md-3 col-xs-6">
                <div class="product" >
                    <div class="product-img" >
                        <img src="{{ product.image.0}}"  alt="" style="height: 200px;">
                        <!-- Add your product image source here -->
                        <div class="product-label" >
                            {% if product.discount %}
                            <span class="sale">-{{ product.discount }}%</span>
                            {% endif %}
                            {% if product.is_new %}
                            <span class="new">NEW</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="product-body"  >
                        <p class="product-category">{{ product.category }}</p>
                        <h3 class="product-name" style="height: 150px;"><a href="#">{{ product.name|slice:":250" }}</a></h3>
                        <h4 class="product-price">₹ <script>formattedPrice({{ product.discounted_price }}) </script>{% if product.discount %}<del class="product-old-price">  <script>formattedPrice({{ product.price }})</script></del>{% endif %} </h4>

                        <div class="product-rating">
                            {% for _ in product.stars %}
                            <i class="fa fa-star"></i>
                            {% endfor %}
                            {% for _ in product.empty_stars %}
                            <i class="fa fa-star-o"></i>
                            {% endfor %}
                        </div>
                        <div class="product-btns">
                            <button class="add-to-wishlist"><a href="{% url 'removefromwishlist' product.id %}"><i class="fa fa-heart fa-lg" style="color: red;"></i></a><span class="tooltipp">add to wishlist</span></button>
                            <button class="add-to-compare hidden"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
                            <button class="quick-view"><i class="fa fa-eye fa-lg"></i><span class="tooltipp">quick view</span></button>
                        </div>
                    </div>
                    <div class="add-to-cart">
                            <button data-product-id="{{ product.id }}"   class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                    </div>
                </div>
            </div>
            <!-- /Product -->
            {% endfor %}
            {% else %}
           <div class="text-center">
                <h1>Wishlist is empty</h1>
            </div>
            {% endif %}
        </div>
    </div>
</div>


{% endblock content %}